* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 38rem;
    box-shadow: 3px 3px 20px -3px grey;
    border-radius: 10px;
}

.top {
    /* box-shadow: 3px 3px 20px -3px grey; */
    align-content: center;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    padding: 35px;
}

.top h1 {
    padding-bottom: 20px;
    color: hsl(179, 62%, 43%);
}

.top h4 {
    color: hsl(71, 73%, 54%);
}

.top p {
    color: hsl(218, 22%, 67%);
    padding-top: 10px;
}

.down {
    color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    /* border: 2px solid crimson;
 */
}

.down-first {
    /* box-shadow: 3px 3px 20px -3px grey; */
    border-radius: 0px 0px 0px 10px;
    background-color: hsl(179, 62%, 43%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.down-first p {
    padding-top: 10px;
}

.down-second {
    /* box-shadow: 3px 3px 20px -3px grey; */
    border-radius: 0px 0px 10px 0px;
    background-color: hsl(180, 42%, 65%);
    padding: 35px;
}

.down-second p {
    padding-top: 20px;
}

.sign-up {
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px;
    text-align: center;
    width: 220px;
    height: 40px;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    text-decoration: none;
}

b {
    font-size: 30px;
    color: white;
}

/* media query */

@media only screen and (max-width:760px) {

    section {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        height: 150vh;
    }

    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 20rem;
        height: 8rem;
        margin: 10px;
        box-shadow: 3px 3px 20px -3px grey;
        border-radius: 10px;
    }

    .top p {
        line-height: 1.8rem;
    }

    .down {
        display: flex;
        flex-direction: column;
    }

    .down-first {
        border-radius: 0px;
    }

    .down-second {
        line-height: 1.6rem;
        border-radius: 0px 0px 10px 10px;
    }

}